body {
  background-color: #3687eb;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.quote-box {
  padding: 2rem;
  max-width: 60%;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  text-align: center;
  position: relative;
}

.quote-text {
  font-weight: bold;
  margin-bottom: 1rem;

  @media (min-width: 769px) {
    font-size: 2rem;
  }
  
  @media (max-width: 768px) {
    font-size: 1rem;
  }
}

.quote-author {
  font-style: italic;

  @media (min-width: 769px) {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  
  @media (max-width: 768px) {
    font-size: 0.5rem;
    margin-bottom: 1rem;
  }
}

.quote-buttons {
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1rem;
}

button {
  margin-right: 0.5rem;
  background-color: hsl(200, 36%, 95%);
  color: #000;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;

  @media (min-width: 769px) {
    font-size: 1.5rem;
    padding: 0.75rem 2rem;
  }
  
  @media (max-width: 768px) {
    font-size: 0.5rem;
    padding: 0.75rem 1rem;
  }
}

button:hover {
  background-color: #dbe9f6e4;
}
